## q3
- Use ‘cricket_matches’ data set.
- Calculate the average score for each team which host the game and win the game.
- Remember that if a team hosts a game and wins the game, their score can be innings_1 runs or innings_2 runs. You have to check if the host team won the game, check which innings they played in (innings_1 or innings_2), and take the runs scored in that innings. The final answer is the average score of each team satisfying the above condition.
- Display a few rows of the output use df.head()
- Generate a csv output

In [1]:
import os
from pathlib import Path
from pandas import Series, DataFrame
import pandas as pd

##get the data path
p = Path(os.getcwd())
csv_path=str(p.parent)+'/Data/cricket_matches.csv'
print(csv_path)

/Users/yutian/Desktop/Assignment3_yutian/Data/cricket_matches.csv

In [2]:
data=pd.read_csv(csv_path)
##print(data)
frame=DataFrame(data)
frame.head(10)

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN
2,Midlands/Wales/West Group:Somerset v Warwicksh...,Warwickshire won by 19 runs,Warwickshire 188/7 (20/20 ov); Somerset 169 (2...,13/06/2003,Taunton,Midlands/Wales/West Group,Somerset,Warwickshire,Warwickshire,19.0,...,7.0,20.0,20.0,Somerset,169.0,10.0,20.0,20.0,NaN,NaN
3,South Group:Surrey v Middlesex at The Oval- Ju...,Surrey won by 4 wickets (with 4 balls remaining),Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...,13/06/2003,The Oval,South Group,Surrey,Middlesex,Surrey,NaN,...,10.0,20.0,20.0,Surrey,158.0,6.0,19.2,20.0,NaN,NaN
4,Midlands/Wales/West Group:Worcestershire v Nor...,Worcestershire won by 1 wicket (with 2 balls r...,Northamptonshire 150/9 (20/20 ov); Worcestersh...,13/06/2003,Worcester,Midlands/Wales/West Group,Worcestershire,Northamptonshire,Worcestershire,NaN,...,9.0,20.0,20.0,Worcestershire,151.0,9.0,19.4,20.0,NaN,NaN
5,Midlands/Wales/West Group:Gloucestershire v Wo...,Gloucestershire won by 4 wickets (with 5 balls...,Worcestershire 122 (19.5/20 ov); Gloucestershi...,14/06/2003,Bristol,Midlands/Wales/West Group,Gloucestershire,Worcestershire,Gloucestershire,NaN,...,10.0,19.5,20.0,Gloucestershire,126.0,6.0,19.1,20.0,NaN,NaN
6,South Group:Surrey v Essex at East Molesey- Ju...,Surrey won by 44 runs,Surrey 182/9 (20/20 ov); Essex 138 (18.5/20 ov),14/06/2003,East Molesey,South Group,Surrey,Essex,Surrey,44.0,...,9.0,20.0,20.0,Essex,138.0,10.0,18.5,20.0,NaN,NaN
7,North Group:Yorkshire v Derbyshire at Leeds- J...,Yorkshire won by 45 runs,Yorkshire 186/5 (20/20 ov); Derbyshire 141 (18...,14/06/2003,Leeds,North Group,Yorkshire,Derbyshire,Yorkshire,45.0,...,5.0,20.0,20.0,Derbyshire,141.0,10.0,18.1,20.0,NaN,NaN
8,Midlands/Wales/West Group:Glamorgan v Northamp...,Northamptonshire won by 23 runs,Northamptonshire 159/5 (20/20 ov); Glamorgan 1...,16/06/2003,Cardiff,Midlands/Wales/West Group,Glamorgan,Northamptonshire,Northamptonshire,23.0,...,5.0,20.0,20.0,Glamorgan,136.0,10.0,18.4,20.0,NaN,NaN
9,South Group:Kent v Hampshire at Beckenham- Jun...,Kent won by 6 wickets (with 48 balls remaining),Hampshire 145/6 (20/20 ov); Kent 147/4 (12/20 ov),16/06/2003,Beckenham,South Group,Kent,Hampshire,Kent,NaN,...,6.0,20.0,20.0,Kent,147.0,4.0,12.0,20.0,NaN,NaN

In [27]:
##select the columns useful
frame_new=frame[['home','winner','innings1_runs','innings2_runs']]
frame_new.head(10)

              home            winner  innings1_runs  innings2_runs
0           Durham            Durham          157.0          160.0
1        Hampshire         Hampshire          153.0          148.0
2         Somerset      Warwickshire          188.0          169.0
3           Surrey            Surrey          155.0          158.0
4   Worcestershire    Worcestershire          150.0          151.0
5  Gloucestershire   Gloucestershire          122.0          126.0
6           Surrey            Surrey          182.0          138.0
7        Yorkshire         Yorkshire          186.0          141.0
8        Glamorgan  Northamptonshire          159.0          136.0
9             Kent              Kent          145.0          147.0

In [28]:
##get winning team
import numpy as np
frame_new=frame_new.loc[frame_new['home']==frame_new['winner']]
frame_new['score'] = np.where(frame_new['innings1_runs'] > frame_new['innings2_runs'], frame_new['innings1_runs'], frame_new['innings2_runs'])
frame_new.head(10)

final_frame=frame_new.drop(['home','innings1_runs','innings2_runs'],axis=1)
final_frame.head(10)

             winner  score
0            Durham  160.0
1         Hampshire  153.0
3            Surrey  158.0
4    Worcestershire  151.0
5   Gloucestershire  126.0
6            Surrey  182.0
7         Yorkshire  186.0
9              Kent  147.0
10   Leicestershire  174.0
11  Nottinghamshire  124.0

In [26]:
## generate csv file
final_frame.to_csv('q3.csv',sep='\t')